@use 'sass:color';

$unit: 1rem;
$max-width: 430px;

$color-1: #242424;
$color-2: rgba(255, 255, 255, 0.87);
$color-3: #4bdcb0;
$color-4: #bbf7f7;

$font-size-1: 1.6 * $unit; // 16px
$font-size-2: 1.25 * $font-size-1; // 20px
$font-size-3: 1.25 * $font-size-2; // 25px

$font-size-4: 2 * $font-size-1; // 32px
$font-size-5: 2 * $font-size-2; // 40px
$font-size-6: 2 * $font-size-3; // 50px

$font-weight: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

$line-height: 1.5;
$line-height-tight: 1.25;
$line-height-loose: 1.6;

$space: $unit;
$space-sm: 0.5 * $space;
$space-md: 2 * $space;
$space-lg: 3 * $space;

:root {
  background-color: $color-2;
  color: $color-1;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-synthesis: none;
  font-weight: $font-weight;
  line-height: $line-height;

  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: $font-size-2;
  font-weight: $font-weight-bold;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: $font-size-6;
}

h2 {
  font-size: $font-size-4;
}

h3 {
  font-size: $font-size-3;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width;
  min-height: 100dvh;
  padding: $space-lg;
}

.view {
  display: flex;
  flex-direction: column;
  gap: $space-md;

  &.start {
    margin: auto;
  }

  &.trip {
    .row {
      display: flex;
      flex-direction: row;
      gap: $space-md;

      .col {
        flex: 1;
      }
    }

    .item {
      background-color: $color-4;
      border-radius: $space;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
      padding: $space-md;

      &-dates {
        border-radius: 2 * $space;
        line-height: 2 * $space;
        padding: $space;
      }

      h3 {
        line-height: $line-height-loose;
      }
    }
  }
}

$input-height: 6 * $space;
$input-font-size: $font-size-3;
$input-line-height: 1;
$input-border-width: calc(2 * $unit / 5);
$input-bg-color: $color-3;
$input-color: $color-1;
$spinner-width: $input-height - 2 * $space;
.form {
  .loader {
    align-items: center;
    background-color: color.adjust($color-1, $alpha: -0.1);
    background-image: url('../img/loader.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    color: $color-4;
    display: none;
    inset: 0;
    justify-content: center;
    position: absolute;

    &::after {
      content: 'Planning your trip...';
    }

    //noinspection CssUnusedSymbol
    &.loading {
      display: flex;
    }
  }

  &-control-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $space-sm;
  }

  &-control {
    align-items: center;
    border: calc(0.4 * $unit) solid $color-1;
    border-radius: calc($input-height);
    color: $input-color;
    display: flex;
    flex-direction: row;
    font-size: $input-font-size;
    justify-content: center;
    line-height: $input-line-height;
    min-height: $input-height;
    text-align: center;
    width: 100%;

    input {
      all: unset;
      margin: auto;
      min-width: $spinner-width;

      &:focus,
      &:focus-visible {
        border-radius: $input-height;
        height: $input-height - 2 * $input-border-width;
        outline: $input-border-width solid -webkit-focus-ring-color;
        width: 100%;
      }
    }

    .spinner {
      all: unset;
      flex: 0 0 $spinner-width;
      height: $spinner-width;
      margin: 0 calc(0.5 * ($input-height - $spinner-width) - $input-border-width);

      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}

button.form-control {
  background-color: $input-bg-color;
  font-weight: $font-weight-bold;
  text-align: center;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: color.adjust($input-bg-color, $lightness: -10%);
  }
}

.mt-1 {
  margin-top: $space;
}

.mt-3 {
  margin-top: 3 * $space;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.fw-normal {
  font-weight: $font-weight;
}

.fs-small {
  font-size: $font-size-1;
}
